
@import "tpl";

header {
  text-align: right;
  h2 {
    margin-top: 0;
  }
}

table {
  margin-top: 20px;
  text-align: left;
}

.twitter-share-button {
  float: left;
  margin-top: 15px;
}

.narrow-p {
  width: 400px;
  margin-left: 220px;
}
